################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Native.API/bin
/Native.API/obj
/Native.Application/bin
/Native.Application/obj
/Native.Core/bin
/Native.Core/obj
/Native.Infrastructure/bin
/Native.Infrastructure/obj
/Native.UnitTests/bin
/Native.UnitTests/obj
